<h1>Edit User</h1>

<form class="form-horizontal" (submit)="save()">
  <form-input [(value)]="user.email" label="Email" placeholder="user@mail.com"></form-input>
  <form-input [(value)]="user.firstName" label="First Name" placeholder="John"></form-input>
  <form-input [(value)]="user.lastName" label="Last Name" placeholder="Daw"></form-input>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default" [disabled]="loading">Save</button>
    </div>
  </div>
</form>
